body {
    background-color: #2f435e;
    color: white;
}

nav.navigation{
    width:1000%;
    height: 70px;
    background-color : white;
}

a {
    width:150px;
    height: 30px;
    background-color:#44566c;
    border: 1px black ;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
    margin : 10px;
    display:block;
    float:left;
}

a:hover {
    background-color:#ececec;
}
table.typeArticle{
    width:20%;
    border:solid  2px;
    border-color: white;
    border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

table.typeArticle td {
    border:solid #ececec 2px;
}

table.typeArticle caption{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    color:#DCDCDC;
}

table.typeArticle thead{
    color: #DCDCDC;
    background-color:#44566c; /*#ADD8E6*/
}

table.typeArticle thead th{
    border:solid #ececec 2px;
}

table.typeArticle tfoot{
    color:#DCDCDC;
    background-color:#44566c;
}   

table.typeArticle tfoot th{
    border:solid #ececec 2px;